@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container{
    width: 70vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    /* position: relative; */
}
.panel{
    height: 85vh;
    /* width: 100vw; */
    margin: 0.7rem;
    border-radius: 3em;
    position: relative;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex:0.6;
    transition: 1s ease;

    
}
.panel.active{
    flex: 6;
}
.panel.active h3{
    /* display: block; */
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;  
}

/* .panel h3{
    color: #fff;
    position: absolute;
    top: 0;
    bottom: o;
} */

.panel h3{
    font-size: 1.4em;
    position: absolute;
    color: white;
    top: 90%;  
    bottom: 0;
    padding-left: 1em;
    /* display: none; */
    opacity: 0;
}

@media(max-width:500px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(5),.panel:nth-of-type(6){
        display: none;
    }


}